<carousel>
    <slide>
        <img src="assets/images/h1.png" 
        alt="first slide" >
        
       
    </slide>
    <slide>
        <img src="https://images.unsplash.com/photo-1542683088-abb3da334598?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=792&q=80" alt="first slide" style="display: block;width: 100%;">
    </slide>
    <slide>
        <img src="https://cdn.pixabay.com/photo/2018/07/18/13/05/ecommerce-3546296_960_720.jpg" alt="first slide" style="display: block;width: 100%;">
    </slide>
</carousel>
<section class="featured">
<div class="d-flex justify-content-center pt-4">
<h1>Welcome to the shop!</h1>
</div>
</section>
