<div class="container mt-5">
    <div class="row" *ngIf="order">
        <div class="col-8">
            <app-cart-summary
                [items]="order.orderItems"
                [isCart]="false"
                [isOrder]="true"
            >
            </app-cart-summary>
        </div>
        <div class="col-4">
                <app-order-totals
                    [shippingPrice]="order.shippingPrice"
                    [subtotal]="order.subtotal"
                    [total]="order.total"
                >
                </app-order-totals
                >
        </div>
    </div>
</div>

<!--<div class="container mt-5">
    <ng-container *ngIf="order">
        <div class="row">
        <div class="col-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-0 bg-info" scope="col">
                                <div class="p-2 px-3 text-upercase">
                                    Product
                                </div>
                            </th>
                            <th class="border-0 bg-info" scope="col" >
                                <div class="p-2 px-3 text-upercase">
                                    Price
                                </div>
                            </th>
                            <th class="border-0 bg-info" scope="col" >
                                <div class="p-2 px-3 text-upercase">
                                    Quantity
                                </div>
                            </th>
                            <th class="border-0 bg-info" scope="col" >
                                <div class="p-2 px-3 text-upercase">
                                    Total
                                </div>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.orderItems">
                            <th scope="row">
                                <div class="p-2">
                                    <img style="max-height: 50px;" src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid">
                                 <div class="ml-3 d-inline-block align-middle">
                                     <h5 class="mb-0">
                                         <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.productName}}</a>
                                     </h5>
                                     <span class="text-muted font-weight-normal font-italic d-block">
                                         Type:  {{item.type}}
                                     </span>
                                 </div>
                                </div>
            
                            </th>
                            <td class="align-middle">
                                <strong>{{item.price | currency}}</strong>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex align-items-center" >
                                  
                                    <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                                    
                                </div>
            
                            </td>
                            <td class="align-middle">
                             <strong>{{item.price * item.quantity | currency }}</strong>
                            </td>
                            <td class="align-middle text-center">
                                <a class="text-danger"> 
                                
                                </a>
                            </td>
            
                        </tr>
                    </tbody>
            
                </table>
            </div>
    
           
        </div>
        <div class="col-4">
            <div class="align-middle bg-light py-3 text-uppercase font-weight-bold">
                Order Summary
            </div>
            <div class="p-4">
            
            <ul class="list-unstyled mb-4" >
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Order Subtotal</strong>
                    <strong>{{order.subtotal | currency}}</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Shipping and handling</strong>
                    <strong>{{order.shippingPrice | currency}}</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Total</strong>
                    <strong>{{order.total | currency}}</strong>
                </li>
            </ul>
            </div>
            
        </div>
        </div>
      
        
    
    </ng-container>
</div>-->